# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual environment
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# GeoIP
geoip/*.mmdb

# Docker
docker-compose.override.yml
